<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Character Introduction</title>
</head>
<body bgcolor="#7bbba4">
  


<h1>Character Introduction</h1>
<table>
  <tr>
    <th><img src="static/img201/blackQueen.png" width="70px"></th>
    <th>
      <p>
        The Goddess of tangerines:</p></th>

    <th><p>You can get out of zugzwang</p></th>
    <th> <img src="static/img201/mandarine.png" width= "70px"></th>
    <th>10</th>

  </tr>
  <tr>
    <th><img src="static/img201/blackOnetwo.png" width="70px"></th>
    <th>Propagandalf</th>
    <th>every even turn is one forward and every uneven turn is two forward</th>

  </tr>
 <!--  <tr>
   <th><img src="static/img201/bomb.png" width="70px"></th>
    <th>Lost Gandalf</th>
    <th>every turn he moves like a diffrent piece</th>
    <tr></tr>
  </tr>-->
  <th><img src="static/img201/blackGobl.png" width="70px"> </th>
  <th>Gandalf of Blasphemy</th>
  <th>Can stop Goddess of tangerines/Gandalf of blindness </th>
  <th><img src="static/img201/finger.png" width="70px"> </th>
  <th>12</th>
  <tr></tr>
  <th><img src="static/img201/blackGob.png" width="70px"></th>
  <th>Gandalf of Blindness</th>
  <th>Blinds the opponent so he can't see your pieces in his next turn</th>
  <th><img src="static/img201/gunblack.png" width="70px"></th>
  <th>7 </th>
  <tr></tr>
  <th><img src="static/img201/blackpawn.png" width="70px"></th>
  <th>Crack Gandalf</th>
  <th>Can move in every direction from turn 20 onwards
    <br>Will not go invisible
  </th>
  <th><img src="static/img201/spiral.png" width="70px"></th>
  
</table> 
 <p>This are special pawns we created to make chess even more fun, some of them have to collect items. You can get them by moving this pieces</p>


</body>


</html>