{% extends 'base.html' %}
{% block content %}

<!-- HTML -->


<!-- JAVASCRIPT -->
<script>

</script>

<!-- CSS -->
<style>

</style>

<hr>
<section id="comments">
<h3 class="m-l-30">Comments</h3>
<form method="post" class="m-l-30">
<p>
<textarea name="content"
placeholder="Comment"
cols="60"
rows="5"></textarea>
</p>
<p>
<button type="submit">Add comment</button>
</p>
</form>
{% for comment in game.comments %}
<div class="comment m-l-20 m-t-10 m-b-10 m-r-10">
<p>#{{ comment.id }}</p>
<p>by {{ comment.author }}</p>
<p>{{ comment.content }}</p>
</div></section>
{% endfor %}
{% endblock %}
