{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Game{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['uname'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['link'] }}</textarea>
    <label for="code">Code (COPY YOUR HTML CODE HERE)</label>
    <textarea name="code" id="code">{{ request.form['code'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}