{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 1</a>

{% endif %}

<hr>

<h1>{% block newTitle %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 2</a>

{% endif %}

<hr>

<h1>{% block newTitleB %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 3</a>

{% endif %}

<hr>

<h1>{% block newTitleC %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 4</a>

{% endif %}

<hr>

<h1>{% block newTitleD %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 5</a>

{% endif %}

<hr>

<h1>{% block newTitleE %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 6</a>

{% endif %}

<hr>

<h1>{% block newTitleF %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 7</a>

{% endif %}

<hr>

<h1>{% block newTitleG %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 8</a>

{% endif %}

<hr>

<h1>{% block newTitleH %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 9</a>

{% endif %}

<hr>

<h1>{% block newTitleI %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 10</a>

{% endif %}

<hr>

<h1>{% block newTitleJ %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 11</a>

{% endif %}

<hr>

<h1>{% block newTitleK %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game 12</a>

{% endif %}

{% endblock %}