{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Game Name{% endblock %}</h1>
{% if g.user[1] == "admin" %}
<a class="action" href="/G1">Game1</a>
<a class="action" href="/G2">Game2</a>
<!-- a class="action" href="/G2">Game3</a -->
<!-- a class="action" href="/G2">Game4</a -->
<!-- a class="action" href="/G2">Game5</a -->
<!-- a class="action" href="/G2">Game6</a -->
<!-- a class="action" href="/G2">Game7</a -->
<!-- a class="action" href="/G2">Game8</a -->
<!-- a class="action" href="/G2">Game9</a -->
<!-- a class="action" href="/G2">Game10</a -->
<!-- a class="action" href="/G2">Game11</a -->
<!-- a class="action" href="/G2">Game12</a -->
<!-- a class="action" href="/G2">Game13</a -->
<!-- a class="action" href="/G2">Game14</a -->
<!-- a class="action" href="/G2">Game15</a -->
<!-- a class="action" href="/G2">Game16</a -->
<!-- a class="action" href="/G2">Game17</a -->
<!-- a class="action" href="/G2">Game18</a -->
<!-- a class="action" href="/G2">Game19</a -->
<!-- a class="action" href="/G2">Game20</a -->
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}