<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
     <title>{{title}}</title>
{%else%}
    <title>Login</title>
{%endif%}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
<nav>
    <a class="action" href="/"><h1>KantiGames</h1></a>
    <ul>
        {% if session["logged_in"] %}
        <li><span>{{ session['username'] }}</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
        <li><a href="{{ url_for('register') }}">Register</a>
        <li><a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
                <hr>
                <h3>Comments</h3>
<form method="post">
    <p>
        <textarea name="content"
                    placeholder="Comment"
                    cols="60"
                    rows="5"></textarea>
    </p>

    <p>
        <button type="submit">Add comment</button>
    </p>
</form>
                {% for comment in game.comments %}
                    <div class="comment">
                        <p>#{{ comment.id }}</p>
                        <p>by {{ comment.author }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
</body>
</html>