{% extends 'base.html' %}
{% block content %}
<h1>{% block title %}Home{% endblock %}</h1>
<hr>
<h1>{% block titleA %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 1</a>



<hr>

<h1>{% block newTitle %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 2</a>



<hr>

<h1>{% block newTitleB %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 3</a>



<hr>

<h1>{% block newTitleC %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 4</a>



<hr>

<h1>{% block newTitleD %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 5</a>



<hr>

<h1>{% block newTitleE %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 6</a>



<hr>

<h1>{% block newTitleF %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 7</a>



<hr>

<h1>{% block newTitleG %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 8</a>



<hr>

<h1>{% block newTitleH %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 9</a>



<hr>

<h1>{% block newTitleI %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 10</a>



<hr>

<h1>{% block newTitleJ %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 11</a>



<hr>

<h1>{% block newTitleK %}Game Name{% endblock %}</h1>

<a class="action" href="/Games/G1">Game 12</a>



{% endblock %}