{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Games{% endblock %}</h1>
  {% if g.user[1] == "admin" %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for game in games %}
    <article class="game">
      <header>
        <div>
          <h1>{{ game['title'] }}</h1>
          <div class="about">by {{ game['username'] }} on {{ game['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == game['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=game['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      <a href="{{ game['link'] }}">LINK</a>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}